.dark {
   background: dimgrey;
}

.dark-text {
   color: aliceblue;
}

.red {
   background: lightcoral;
}

.red-text {
   color: aqua;
}

.some {
   background: lightgreen;
}

.some-text {
   color: darkslateblue;
}

.purple {
   background: #7908AA;
}

.purple-text {
   color: #F3FD00;
}

.wrapper {
   position: relative;
}

.themeSelector {
   width: 200px;
   position: absolute;
   right: 0;
   height: 20px;
   font-size: 14px;
   font-weight: 600;
   border: none;
   color: #434343;
}

.text {
   letter-spacing: 0.02em;
   padding: 5px;
   font-size: 16px;
}