.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.purple {
    background: #7908AA;
}

.purple-text {
    color: #F3FD00;
}

.wrapper {
    position: relative;
}

.themeSelector {
    width: 200px;
    position: absolute;
    top: -100px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #434343;
}

.text {
    letter-spacing: 0.02em;
    line-height: 26px;
}