.list_block {
    display: flex;
    flex-direction: row;

    color: white;
    margin-bottom: 3px;
    background: #fcfcfc;
}

.list_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    height: 35px;
    cursor: pointer;

    background: #222222;
}

.list_item:hover {
    color: #222;
    background: #76c83f;
}


.list_item p {
    font-size: 13px;
    font-weight: 500;

    width: 65%;
    margin-left: 5%;

    transition: all 200ms;
}

.remove_button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 100%;

    cursor: pointer;

    border: none;
}

.remove_button:hover {
    background: rgb(236, 106, 106);
}

.filter {
    display: flex;

    width: 100%;
}

.filter_button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 30px;

    cursor: pointer;
    transition: all 200ms;

    border: none;
}

.filter_button:hover {
    transition: all 200ms;

    background: rgba(145, 142, 142, 0.8);
}
