.red {
    border-bottom: 5px solid #de1919;
}

.hw4Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.39);
    margin: 0 auto;
}