.preJunior-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

.home_block {
    padding: 15px;
    height: max-content;
}

.content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.work {
    display: flex;
    width: auto;
    min-width: 40%;
    align-items: center;
    padding: 5px;
}

.description {
    width: 60%;
    padding: 5px;
}