.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form_name {
    color: #353535;
}

.users_block {
    display: flex;
    flex-direction: column;
    color: #d4a60d;
    background: rgb(47, 46, 46);
    margin-left: 15px;
    width: auto;
    padding: 20px;
    height: auto;
}

.users_block p {
    margin: 0;
    border-bottom: 1px solid white;
}
.input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    width: auto;
    padding: 20px;
    background: #eee7e7;
}

.input_wrapper h3 {
    text-align: center;
    color: #1f1f1f;
    font-size: 25px;
}

.correctInput {
    margin: 10px 0;
    background: #ffffff;
    border: none;
    padding: 15px;
    border: 0;
    border-bottom: 2px solid #2b2b2b;
    font-size: 18px;
    color: #2b2b2b;
    height: 25px;
}

.correctInput:focus {
    outline:none;
}

.correctInput.error {
    background: #d4a60d;
}

.error_1 {
    margin-bottom: 10px;
    font-weight: 600;
    color: #de0b0b;
}

.add_user_btn {
    border: none;
    height: 30px;
    color: #353535;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    transition: all 200ms;
}

.add_user_btn:hover {
    transition: all 200ms;
    background: rgba(115, 229, 53, 0.8);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.userCount {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    color: #353535;
    text-transform: uppercase;
    font-weight: 600;
}

